{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Chart app
{% endblock title %}

{% block css %}{% static 'chart.css' %}{% endblock css %}

{% block content %}
    {%crispy form%}
    <a class="btn btn-danger" href="{% url 'deleteall' %}"> Clear All </a> 

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
    integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <div class="canvas-id">
        <canvas id="myChart" width="500" height="400"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for a in file %}"{{a.content}}",{% endfor %}],
                datasets: [{
                    label: '# of Votes',
                    data: [{% for a in file %}"{{a.percentage}}",{% endfor %}],
                    backgroundColor: [
                        '#0000CD',
                        '#006400',
                        '#2F4F4F',
                        '#4B0082',
                        '#800000',
                        '#800000'
                    ],
                    borderColor: [
                       'white'
                    ],
                    borderWidth: 4
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>






{% endblock content %}